/*Estilo da caixa de notificação*/
dialog {
    background-color: rgb(45, 42, 46);
}

dialog > h2, dialog > p {
    color: rgba(230, 230, 221, 1);
}

dialog > button {
    background-color: rgb(105, 18, 0);
    color: rgba(230, 230, 221, 1);
    font-family: "Open Sans", sans-serif;
    border-radius: 10px;
}

dialog > button:hover {
    background-color: rgb(210, 103, 0);
}

.mensagem-modal {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.borda-arredondada {
    border-radius: 20px;
    text-align: center;
}

/*p .info {*/
/*    font-weight: bold;*/
/*}*/
/*dialog {*/
/*    border-radius: 15px;*/
/*    border: 1px solid #ccc;*/
/*    padding: 20px;*/
/*}*/
/*.modal-notificacao {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100vh;*/
/*}*/
/*.borda-arredondada {*/
/*    border-radius: 15px;*/
/*}*/
/*dialog p, dialog button {*/
/*    text-align: center;*/
/*}*/