body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;

}

.main_div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(43, 41, 44);
    /* background-color: rgb(241, 238, 243);*/
}

.header_div {
    min-height: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    /* Não se expande, tamanho baseado no conteúdo */
    background-color: rgb(1, 10, 66);
    background-image: linear-gradient(45deg,
            hsl(10deg 100% 20%) 1%,
            hsl(12deg 100% 23%) 43%,
            hsl(15deg 100% 26%) 50%,
            hsl(17deg 100% 29%) 51%,
            hsl(19deg 100% 32%) 51%,
            hsl(22deg 100% 36%) 49%,
            hsl(24deg 100% 39%) 49%,
            hsl(26deg 100% 42%) 50%,
            hsl(29deg 100% 45%) 57%,
            hsl(31deg 100% 48%) 99%);
}

.middle_div {
    width: 100%;
    /* Se expande para preencher o espaço restante */
    display: flex;
    flex-direction: row;
    background-color: rgb(43, 41, 44);
}

.section_carrousel {
    width: 50%;


    margin: 0 auto;
    /* Define margens automáticas para centralizar horizontalmente */
    margin-top: 10px;
    /* background-color: rgb(41, 41, 150);*/
}

.cor_letra {
    text-align: center;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    color: white;
}

.section_two {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(43, 41, 44);
    /*background-color: blue;*/
}

.cantores_div {
    width: 40%;

}

.font {
    font-family: raleway;
}



.font-one {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

.footer_div {
    width: 100%;
    /* Não se expande, tamanho baseado no conteúdo */
    background-image: linear-gradient(45deg,
            hsl(10deg 100% 20%) 1%,
            hsl(12deg 100% 23%) 43%,
            hsl(15deg 100% 26%) 50%,
            hsl(17deg 100% 29%) 51%,
            hsl(19deg 100% 32%) 51%,
            hsl(22deg 100% 36%) 49%,
            hsl(24deg 100% 39%) 49%,
            hsl(26deg 100% 42%) 50%,
            hsl(29deg 100% 45%) 57%,
            hsl(31deg 100% 48%) 99%);
}

.footer_container_div {
    position: relative;
    width: 100%;
    height: 8.5rem;
}

.footer_img_div {
    position: absolute;
    left: 0;
    bottom: 28px;

}

.footer_copy_div {
    width: 100%;
    display: flex;
    /*Centraliza horizontal e verticalmente o conteudo do div*/
    justify-content: center;
    align-items: center;
    position: absolute;
}

.left_div {
    width: 50%;
    height: 100%;
    display: flex;
    /*Centraliza horizontal e verticalmente o conteudo do div*/
    justify-content: center;
    align-items: center;
    /*background-color: coral;*/
}

.right_div {
    width: 50%;
    height: 100%;
    display: flex;
    /*Centraliza horizontal e verticalmente o conteudo do div*/
    justify-content: center;
    align-items: center;
    /* background-color: rgb(150, 3, 3);*/
}

.contentleft_div {
    width: 80%;
    /* background-color: rgb(241, 25, 61);*/
}

.contentright_div {
    display: flex;
    /*Centraliza horizontal e verticalmente o conteudo do div*/
    justify-content: center;
    align-items: center;
    /*  background-color: deeppink;*/
}

.letter_title {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(248, 244, 241);
}

.letter {
    font-family: Raleway;
    letter-spacing: 0.125rem;
    word-spacing: 0.25rem;
    line-height: 1.5;
    color: whitesmoke;
}

.img_logo {
    height: 4rem;
    margin-left: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.phrase_slogan {
    padding-top: 5rem;
    font-family: Raleway;
    font-size: 1rem;
    color: aliceblue;
}

.color_link {
    color: aliceblue;
}

.header_nav_div {
    /*background-color: yellow;*/
}

.header_space_div {
    flex: 1;
    /* Se expande para preencher o espaço restante */
    /*background-color: red;*/
    display: flex;
    justify-content: center;
}

.header_buttons_div {
    flex: 1;
    /*background-color: blue;*/
    display: flex;
    justify-content: center;
    align-items: center;


}

.img_logo_header {
    height: 3rem;
}

.login_link {
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    background-color: #661701;
}

.bell_icon_img {
    height: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.login_button {
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT';
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: white;
    /* Cor do texto */
    background-color: #220801;
}

.nav_ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0.600rem 1.10rem;
}

.nav_ul li {
    list-style: none;
    padding: 0.625rem 1.25rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.nav_ul li a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 1, 25rem;
    line-height: 1.5;
    color: aliceblue;
    padding: 0.3125rem;
    transition: color 0.5s;
}

ul a:hover {
    color: black;
}

.img_conteudo {
    height: auto;
    border-radius: 70%;
    -webkit-shape-outside: circle();
    shape-outside: circle();
    max-width: 80%;
    /* Garante que a imagem não ultrapasse a largura do contêiner */
    max-height: 80%;
}

.hamburguer_div {
    display: none;
    height: 100%;
    /*background-color: green;*/
    /*Centraliza verticalmente o conteudo do div*/
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}

.hamburguer_img {
    width: 2.5rem;
    height: 2.5rem;
}

.nav_drawer_div {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    display: none;
    background-image: linear-gradient(45deg,
            hsl(10deg 100% 20%) 1%,
            hsl(12deg 100% 23%) 43%,
            hsl(15deg 100% 26%) 50%,
            hsl(17deg 100% 29%) 51%,
            hsl(19deg 100% 32%) 51%,
            hsl(22deg 100% 36%) 49%,
            hsl(24deg 100% 39%) 49%,
            hsl(26deg 100% 42%) 50%,
            hsl(29deg 100% 45%) 57%,
            hsl(31deg 100% 48%) 99%);
}

.close_icon_div {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_drawer_title {
    flex: 1 1 auto;
    /*background-color: blue;*/
}

.close_icon {
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

.nav_drawer_text {
    margin-left: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.0rem;
    color: white;
}

.nav_divider {
    width: 100%;
    height: 0.01rem;
    background-color: white;
}

.nav_options_div {
    width: 100%;
    flex: 1 1 auto;
    /*background-color: green;*/
}

.nav_buttons_div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /*background-color: blue;*/
}



@media all and (max-width: 680px) {

    .middle_div {
        flex-direction: column-reverse;
    }

    .left_div {
        width: 100%;
    }

    .right_div {
        width: 100%;
    }

    .img_conteudo {
        height: auto;
        max-width: 50%;
        /* Garante que a imagem não ultrapasse a largura do contêiner */
        max-height: 50%;
        margin-top: 1rem;
    }

    .phrase_slogan {
        font-size: 1.0rem;
        color: white;
    }

    .hamburguer_div {
        display: flex;
    }

    .header_nav_div {
        display: none;
    }

    .header_buttons_div {
        display: none;
    }

    .nav_ul {
        flex-direction: column;
    }

    .nav_ul li {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}