/*DEFINIÇÃO DA FONTE DO CORPO HTML*/
@font-face {
    font-family: "Raleway Especial";
    src: local(Raleway), url(../fonts/Raleway-Normal.ttf);
}

/*STYLE IMAGEM ENCIMA DO FORMULÁRIO*/
.imgevent{
    position: relative;
    top: -40px  ;
    width: 500px;
    
}

/*CORPO DO HTML*/
body{
    height: 100%;
    width: 100%;
    background-color: rgb(43, 41, 44);
    text-align: center;
    font-family: 'Raleway';
    margin: 0;
    position: absolute;
    font-family: 'Raleway';
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*STYLE FORMULÁRIO*/
.box_Newcount{
    padding: 10%em 0;
    position: relative;
    top: -130px;
}

.box_Newcount .fornewcount{
    padding: 0.2em;
}

.newcount{
    width: 50%;
    overflow: hidden;
    margin: auto;
    display: inherit;
    background-color: #f1ebeb;
    border-radius: 4px;
    box-shadow: 1px 0px 3px 0px #cbcbcb;
    background-image: linear-gradient(45deg,
            hsl(10deg 100% 20%) 50%,
            hsl(10deg 100% 20%) 50%,
            hsl(10deg 100% 20%) 50%,
            hsl(10deg 100% 20%) 50%,
            hsl(10deg 100% 20%) 50%,
            hsl(10deg 100% 20%) 50%,        
            hsl(10deg 100% 20%) 50%, 
            hsl(10deg 100% 20%) 50%, 
            hsl(10deg 100% 20%) 90%, 
            hsl(31deg 100% 48%) 99%);
}

.newcount h1{
    text-align: center;
    font-family: 'Raleway';
    font-size: 1.5em;
    border-bottom: 1px #6c6464 solid;
    padding: 0.5em;
    color: rgb(234, 223, 223);
    
}

.newcount .padding{
    padding: 1.5em;
    float: center;
}

.newcount label{
    width: 100%;

}

.newcount .campos{
    border-top: 1px transparent solid;
    border-left: 1px transparent solid;
    border-bottom: 5px #000000 solid;
    border-right: 1px transparent solid;
    color: #554f4f;
    font-family: 'open_sansregular';
    font-size: 0.9em;
    outline: none;
    padding: 0.5em 2em;
    transition: 0.4s;
}

.newcount .nasc{
    width: 174.5px;
    border-top: 1px transparent solid;
    border-left: 1px transparent solid;
    border-bottom: 5px #000000 solid;
    border-right: 1px transparent solid;
    color: #554f4f;
    font-family: 'open_sansregular';
    font-size: 0.9em;
    outline: none;
    padding: 0.5em 2em;
    transition: 0.4s;
}

.newcount .campos:focus{
    border-top: 1px transparent solid;
    border-left: 1px transparent solid;
    border-bottom: 1px #575251 solid;
    border-right: 1px transparent solid;
    color: #0a0400;
}

/*STILO BOTÃO DE CADASTRAR*/
.newcount .btn{
    width: auto;
    position: relative; 
    top: -50px;
    float: center;
    padding: 0.70em 2em;
    font-family: 'Raleway';
    font-size: 1em;
    background-color: hsl(31deg 100% 48%);
    color: #fff;
    border: 0;
    border-radius: 4px;
    transition: 0.4s;
    cursor: pointer;
}

.high{
    font-family: 'Raleway';
}

.tipoConta{
    color: white;
    font-family: 'Raleway';
}


/*STILO SLIDER DE TIPO DE CONTA*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

.inputRadio{
    display: table;
    position: relative; 
    width: 300px;
    padding: 5px 10px;
    background: rgb(247, 243, 243);
    margin: 50px auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.inputRadio input[type=radio]{
    display: none;
  
}

.inputRadio label{
    float:unset;
    font-family: "Source Sans Pro";
    font-size: 16px;
    width: calc(100% / 3);
    padding: 20px;
    color: #000000;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    text-align: center; 
}

.botao_slider{
    position: absolute;
    background: rgba(244, 5, 5, 0.4);
    top: 1.5px;
    width: 90px;
    height: 25px;
    padding: 0 10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

#part:checked ~ .botao_slider{
    left: 45px;
}

#org:checked ~ .botao_slider{
    left: 170px;
}
