

.fonte-corpo-barra {
  font-weight: 600;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: rgb(230, 230, 221);
  transition: all 0.2s ease-in 0s;
  cursor: pointer;
  padding: 12px 16px;
}

.btn-login,.btn-cadastro {
  background-color: #2D2A2E;
  color: #ffffff; /* cor de texto branco */
  border: none;
  border-radius: 14px;
  padding: 10px 20px;
}

.btn-login:hover,.btn-cadastro:hover {
  background-color: #000000; /* cor de fundo azul escuro */
  color: #ffffff; /* cor de texto branco */
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-image: linear-gradient(45deg,
  hsl(10deg 100% 20%) 1%,
  hsl(12deg 100% 23%) 43%,
  hsl(15deg 100% 26%) 50%,
  hsl(17deg 100% 29%) 51%,
  hsl(19deg 100% 32%) 51%,
  hsl(22deg 100% 36%) 49%,
  hsl(24deg 100% 39%) 49%,
  hsl(26deg 100% 42%) 50%,
  hsl(29deg 100% 45%) 57%,
    hsl(31deg 100% 48%) 99%);
}

.bg-primary:hover {
  background-color: black !important;
}

.navbar {
  border: none;
  margin: 0;
  background-color: rgb(0, 0, 0) !important;
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}

.logomarca {
  width: 200px;
}

.barra-pesquisa {
  justify-content: center;
  align-items: center;
  width: 350px;
  margin: 20px auto 0;
  height: auto;
  padding-right: 100px;
  display: flex;
}

body {
  position: relative;
  background-color: #2d2a2e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); /* Shadow effect */
}

@media(max-width: 991px) {
  .sidebar {
      background-image: linear-gradient(45deg,
      hsl(10deg 100% 20%) 1%,
      hsl(12deg 100% 23%) 43%,
      hsl(15deg 100% 26%) 50%,
      hsl(17deg 100% 29%) 51%,
      hsl(19deg 100% 32%) 51%,
      hsl(22deg 100% 36%) 49%,
      hsl(24deg 100% 39%) 49%,
      hsl(26deg 100% 42%) 50%,
      hsl(29deg 100% 45%) 57%,
      hsl(31deg 100% 48%) 99%) !important;
      /*backdrop-filter: opacity();*/
  }
}


.middle_div {
  flex: 1 1 auto;
  /* Se expande para preencher o espaço restante */
  display: flex;
  flex-direction: column;
  background-color: rgb(43, 41, 44);
}



/**
 * Styles for the search container.
 */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  position: absolute;
  top: 140px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  
}

.page-link{
 margin-top: 20px;
}


/**
 * Styles for the search input.
 */

input[type=text] {
  padding: 10px;
  margin-left: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  box-sizing: border-box;
  width: 80%;
  background-color: #fff;
}

/**
 * Styles for the submit button.
 */
button[type=submit] {
  background-color: transparent;
  border: none;
  cursor: pointer;
  
}

/**
  Styles for the submit button icon.
 */
button[type=submit] i {
  color: #ffffff;
  font-size: 20px;
  
}

button[type=submit]:hover i {
  color: #ccc;
}

.event-container .event:nth-child(n+2) h1 {
  margin-top: -10px; 
}

/**
 * Styles for the event container.
 */
.event-container {
  width: 80%;
  margin-top: 100px;;
  transform: translate(10%, 0%);
  background-color: white;
  border-radius: 20px;
  border: 3px solid hsl(0, 0%, 0%);
  display: flex;
  flex-direction: column; /* Ensure events stack vertically */
  padding-bottom: 2px;
  border:1px solid #ddd; /* Gray separator line */
  margin-bottom: 25vh;

}


/**
 * Styles for the event element.
 */
.event {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
  align-items: center; /* Ensure the items are centered vertically */
}

.hidden {
  display: none; /* CSS class to hide elements */
}

/**
 * Styles for the event image.
 */
.event img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 5px;
  margin-left: 1%;
  cursor: pointer;
}

.event-details{
  flex: 1;
  overflow-y: auto;
  max-height: 200px; 

}


/**
 * Styles for the event description.
 */
.event p {
  padding: 10px;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
}

.event h1 {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
}





.filter-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.filter-icon i {
  color: #ffffff;
  font-size: 20px;
}

.filter-icon:hover i {
  color: #ccc;
}



.left_div {
  width: 50%;
  height: 100%;
  display: flex;
  /*Centraliza horizontal e verticalmente o conteudo do div*/
  justify-content: center;
  align-items: center;
  /*background-color: coral;*/
}

.right_div {
  width: 50%;
  height: 100%;
  display: flex;
  /*Centraliza horizontal e verticalmente o conteudo do div*/
  justify-content: center;
  align-items: center;
 /* background-color: rgb(150, 3, 3);*/
}

.contentleft_div {
  width: 80%;
 /* background-color: rgb(241, 25, 61);*/
}

.contentright_div {
  display: flex;
  /*Centraliza horizontal e verticalmente o conteudo do div*/
  justify-content: center;
  align-items: center;
 /*  background-color: deeppink;*/
}

.letter_title {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(248, 244, 241);
}

.letter {
  font-family: Raleway;
  letter-spacing: 2px;
  word-spacing: 4px;
  line-height: 1.5;
  color: whitesmoke;
}

.img_logo {
  height: 100px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.color_link {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.phrase_slogan {
  text-align: center;
  padding-top: 5rem;
  font-family: Raleway;
  font-size: 1rem;
  color: aliceblue;
}

.header_nav_div {
  flex: 0 0 auto;
}

.header_space_div {
  height: 50px;
  width: 50px;
  flex: 1 1 auto;
  /* Se expande para preencher o espaço restante */
}

.nav_ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 10px 20px;
  
}

.nav_ul li {
  margin-left: 4px;
  margin-right: 4px;
}

.nav_ul li a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.5;
  color: aliceblue;
}



.img_conteudo{
  height: auto;
  border-radius: 70%;
  -webkit-shape-outside: circle();
  shape-outside: circle();
  max-width: 80%; /* Garante que a imagem não ultrapasse a largura do contêiner */
  max-height: 80%;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  left: 0 !important;
}

.menu__btn {
  position: absolute;
  top: 36px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 100;
}

.menu__btn>span,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fafafa;
  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  box-shadow: 2px 2px 6px rgba(13, 0, 0, 0.4);
  background-color: #1f292b;
  transition-duration: .25s;
  z-index: 10;
}

.menu__item {
  display: block;
  position: relative;
  top: 20px;
  padding: 15px 10px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px #fafafa solid;
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;

}

.menu__item:last-child {
  border-bottom: none;
}

.menu__item:hover {
  background-color: #242424;
}

.icn-notificacao {
  width: 20px;
}


.footer-color {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(45deg,
  hsl(10deg 100% 20%) 1%,
  hsl(12deg 100% 23%) 43%,
  hsl(15deg 100% 26%) 50%,
  hsl(17deg 100% 29%) 51%,
  hsl(19deg 100% 32%) 51%,
  hsl(22deg 100% 36%) 49%,
  hsl(24deg 100% 39%) 49%,
  hsl(26deg 100% 42%) 50%,
  hsl(29deg 100% 45%) 57%,
  hsl(31deg 100% 48%) 99%) !important;
}

.logo-footer {
  width: 120px;
}

/*.event-container {*/
/*  background-color: rgb(43, 41, 44) !important;*/
/*  border-bottom-color: rgb(43, 41, 44) !important;*/
/*  border: none;*/
/*}*/

/*.middle_div {*/
/*  border-color: transparent;*/
/*  border-bottom-width: 0px;*/
/*}*/

/*Estilo da caixa de notificação*/
dialog {
  background-color: rgb(45, 42, 46);
}

dialog > h2, dialog > p {
  color: rgba(230, 230, 221, 1);
}

dialog > button {
  background-color: rgb(105, 18, 0);
  color: rgba(230, 230, 221, 1);
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
}

dialog > button:hover {
  background-color: rgb(210, 103, 0);
}

.mensagem-modal {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.borda-arredondada {
  border-radius: 20px;
  text-align: center;
}









