   * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color:rgb(255, 0, 0);
  display: flex;
  justify-content: space-around;
  padding: 30px;
}



.logo img {
 width: 200px;
 height: 100px;
 background-color:rgb(255, 0, 0);
 position: absolute;
 left: 1%;
 top: 1%;
}

.procurar {
  position: absolute;
  left: 45%;
  top: 5%;
  background-color: aliceblue;
  border-radius: 20px;
  height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;

}

.procurar input {
 border: none;
 background: none;
 outline: none;
 padding: 0;
 color: #fff;
 font-size: 16px;
 
}




.texto li{
  display: inline-block;
  margin: 10px;

}

.texto li  a{
  font-size: 24px;
  text-decoration: none;
  color: rgb(8, 8, 8);


}

main {
  justify-content: center;
  display: flex;
  text-align: center;
}

.menu li{
  display: flex;
  margin: 30px;

}

.menu li  a{
  font-size: 24px;
  text-decoration: none;
  color: rgb(253, 253, 253);


}

.pagina li a{
  width: 200px;
  height: 7px;
  margin-top: 200px;
  background-color: rgb(255, 255, 255);
  font-size: 24px;
  color: rgb(231, 231, 231);

}

.cadastrar li a{
  padding: 5px;
  padding-right: 40px;
  background-color: rgb(255, 255, 255);
  font-size: 24px;
  color: rgb(255, 255, 255);

}

.sobre li a{
  padding: 5px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgb(250, 250, 250);
  font-size: 24px;
  color: rgb(255, 250, 250);

}