* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(43, 41, 44);
}

a {
  text-decoration: none;
}

.header {
  background-image: linear-gradient(
    45deg,
    hsl(10deg 100% 20%) 1%,
    hsl(12deg 100% 23%) 43%,
    hsl(15deg 100% 26%) 50%,
    hsl(17deg 100% 29%) 51%,
    hsl(19deg 100% 32%) 51%,
    hsl(22deg 100% 36%) 49%,
    hsl(24deg 100% 39%) 49%,
    hsl(26deg 100% 42%) 50%,
    hsl(29deg 100% 45%) 57%,
    hsl(31deg 100% 48%) 99%
  );

  padding-inline: 16px;
}

/* .acão {
    position: fixed;
    top: 5px;
    right: 30px;
  
  }
  
  .acão .perfil {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  
  }
  
  .acão .perfil img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .acão .menudoperfil {
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: white;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: o.5s;
    visibility: hidden;
    opacity: 0;
  }
  
  .acão .menudoperfil.active {
    top: 80px;
    visibility: visible;
    opacity: 1;
  
  }
  
  .acão .menudoperfil::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
  }
  
  .acão .menudoperfil ul li {
    list-css: none;
  
  }
  
  .acão .menudoperfil ul li:hover {
    opacity: 1;
  }
  
  .acão .menudoperfil ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
  
  }
  
  .acão .menudoperfil ul li:hover a {
    color: #ff5d94;
  
  } */

.nav {
  max-width: 1280px;
  height: 70px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 10%;
  height: 1000%;
}

.lista {
  position: relative;
  display: flex;
  gap: 32px;
  list-style: none;
}


.lista a {
  font-size: 18px;
  color: #fff;
  padding-block: 16px;
}




.hamburguer {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
}

.hamburguer::before,
.hamburguer::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
}

@media (max-width: 750px) {

 .hamburguer {
    display: block;
    z-index: 1;
 }
 

 .lista a{
    font-size: 24px;
 }

    

   

 .lista {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        45deg,
        hsl(10deg 100% 20%) 1%,
        hsl(12deg 100% 23%) 43%,
        hsl(15deg 100% 26%) 50%,
        hsl(17deg 100% 29%) 51%,
        hsl(19deg 100% 32%) 51%,
        hsl(22deg 100% 36%) 49%,
        hsl(24deg 100% 39%) 49%,
        hsl(26deg 100% 42%) 50%,
        hsl(29deg 100% 45%) 57%,
        hsl(31deg 100% 48%) 99%
      );
      clip: circle(1600px at 90% -15%);
      transition: 1s ease-out;

      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 0;
      pointer-events: none;
      
 }

 .nav.active .lista {
  clip-path: (1500px at 90% -15%);
  pointer-events: all;
 }

}