body {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

.div_main {
    background-color: rgb(43, 41, 44);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px;
}

.div_central {
    background-color: aqua;
    width: 18.75rem;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(84, 1, 5, 0.9) 2px 2px 2px 2px;
}

.div_logo {
    background-color: rgb(82, 3, 3);
    height: 3.75rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_card {
    background-color: blueviolet;
    width: 100%;
}

.div_login_content {
    background-color: #f6f4f4;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.div_login_image {
    background-color: #F2F2F2;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_login {
    text-align: center;
    /*Editar aqui caso mudanca tamnaho de letra ou cor*/
}

.input_login {
    width: 80%;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.button_login {
    width: 80%;
    background-color: #7f0101;
    color: rgb(224, 222, 222);
    

}


/* Efeito hover */
.button_login:hover {
    background-color: rgb(31, 0, 0);

}

.img_logo {
    width: 7.5rem;
}

.img_slogan {
    width: 120%;
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
}